{{!-- Header or nav bar --}}
<h1>All the News That's Fit to Scrape</h1>
<h2>Saved Articles</h2>
<p>Content Selections</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Saved Articles</a></li>
    <li><a href="#">New Articles</a></li>
</ul>
{{!-- Background Video --}}
{{!-- Content --}}

{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/app.js"></script>